trigger:
  branches:
    include:
      - main
  paths:
    include:
      - aplicacao/**

pool:
  vmImage: ubuntu-latest

variables:
  DOTNET_VERSION: '10.x'
  PROJECT_PATH: 'aplicacao/KomercioApi.csproj'
  DEPLOY_PATH: '/home/azureuser/komercio/estoque'

stages:
- stage: Build
  displayName: Build .NET API
  jobs:
  - job: BuildJob
    displayName: Compilar Estoque Service
    steps:
    - task: UseDotNet@2
      displayName: 'Instalar .NET $(DOTNET_VERSION)'
      inputs:
        version: $(DOTNET_VERSION)

    - script: |
        dotnet restore $(PROJECT_PATH)
        dotnet publish $(PROJECT_PATH) -c Release -o $(Build.ArtifactStagingDirectory)/publish
      displayName: 'Executar Dotnet Publish'

    - task: PublishPipelineArtifact@1
      displayName: 'Gerar Artefato'
      inputs:
        targetPath: $(Build.ArtifactStagingDirectory)/publish
        artifact: estoque_drop

- stage: Deploy
  displayName: Deploy para VM
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifactName: estoque_drop
        targetPath: $(Pipeline.Workspace)/estoque_drop

    - task: SSH@0
      displayName: Parar serviço atual
      inputs:
        sshEndpoint: Komercio-API-VM
        runOptions: inline
        inline: |
          sudo systemctl stop komercio-estoque || true

    - task: CopyFilesOverSSH@0
      displayName: Transferir arquivos
      inputs:
        sshEndpoint: Komercio-API-VM
        sourceFolder: $(Pipeline.Workspace)/estoque_drop
        contents: '**'
        targetFolder: $(DEPLOY_PATH)
        cleanTargetFolder: true

    - task: SSH@0
      displayName: Iniciar serviço
      inputs:
        sshEndpoint: Komercio-API-VM
        runOptions: inline
        inline: |
          sudo systemctl start komercio-estoque
          sudo systemctl status komercio-estoque --no-pager